<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WalmartProject">
  <test thread-count="5" name="Testcases">
    <classes>
      <class name="com.walmart.testcases.MyaccountTest"/>
      <class name="com.walmart.testcases.PersonalsettingTest"/>
      <class name="com.walmart.testcases.AddressTest"/>
      <class name="com.walmart.testcases.MyrecommendationpageTest"/>
      <class name="com.walmart.testcases.Loginpagetest"/>
      <class name="com.walmart.testcases.SearchTest"/>
      <class name="com.walmart.testcases.MylistTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
